.hero__content {
  padding-top: 142px;
  padding-bottom: 96px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  color: $hero-text-color;
  background-color: $section-bg-color;
  flex-grow: 1;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/home/showcase.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    padding-top: 407px;
    padding-bottom: 410px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../images/home/showcase.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../images/home/showcase@2x.jpg");
    }
  }
  @media screen and (min-width: 1360px) {
    padding-top: 279px;
    padding-bottom: 282px;
  }
}

.hero__title {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 52px;
  line-height: 1.27;
  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
    font-size: 55px;
    line-height: 1.2;
  }
}

.hero__text {
  margin-bottom: 24px;
  font-size: 22px;
  line-height: 1.69;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    font-size: 22px;
    line-height: 1.68;
  }
}

.hero__button {
  padding-left: 29px;
  padding-right: 29px;

  border: 0px;
  color: $primary-bg-color;
  background-color: $accent-color;
  font-size: 16px;
  line-height: 1.63;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.56;
  }
}
.hero__content-button {
  display: flex;
  align-items: center;
  justify-content: center;
  &:focus,
  &:hover {
    opacity: 0.75;
  }
}
.hero__text-button {
  margin-left: 6px;
}
.hero__icon {
  fill: $accent-color;
  @media screen and (min-width: 768px) {
    fill: $primary-bg-color;
  }
}
