.contact {
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1360px) {
    padding-bottom: 0;
  }
}

.contact__list {
  background-color: $section-bg-color;
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
// .contact__item{

// }
// .contact__photo {
//   @media screen and (min-width: 768px) {
//     object-fit: cover;
//     min-height: 354px;
//   }
// }
.contact__image {
  @media screen and (min-width: 768px) {
    object-fit: cover;
    min-height: 354px;
  }
}
.contact .contact__content {
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1360px) {
    padding-left: 20px;
    padding-right: 28px;
  }
}
.contact__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-bottom: 32px;
}
