.nav {
  padding-top: 20px;
  padding-bottom: 6px;
  @media screen and (min-width: 767px) {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  padding-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.logo__icon {
  fill: $accent-color;
  height: 35px;
  width: 39.31px;
  // vertical-align: middle;
}

.logo__icon--accent {
  margin-left: 6px;
  color: $accent-color;
  @media screen and (min-width: 767px) {
    margin-left: 10px;
  }
}
.logo__icon--light {
  color: $primary-bg-color;
}
.nav__list {
  padding-top: 6px;
  padding-left: 22px;
  padding-right: 22px;

  display: flex;
  justify-content: space-between;
}

.nav__item {
  @media screen and (min-width: 767px) {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.nav__link {
  color: $primary-bg-color;
  line-height: 1.63;
}
