.section__header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.section__header--transparent {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.nav {
  padding-top: 20px;
  padding-bottom: 10px;
  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1360px) {
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 20px;
  }
}

.logo {
  padding-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  transition: 1s;
  @media screen and (min-width: 768px) {
    font-size: 35px;
    line-height: 1.2;
  }
  &:hover,
  &:focus {
    // cursor: pointer;
    transition: 1s;
    text-align: center;

    transform: scale(1.1);
  }
}

.logo__icon {
  fill: $accent-color;
  height: 35px;
  width: 39.31px;
}

.logo__icon--accent {
  margin-left: 6px;
  color: $accent-color;
  @media screen and (min-width: 768px) {
    margin-left: 10px;
  }
}
.logo__icon--light {
  color: $primary-bg-color;
}
.nav__list {
  padding-top: 6px;
  padding-left: 22px;
  padding-right: 22px;

  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 1360px) {
    align-items: center;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.nav__item {
  font-size: 16px;
  line-height: 1.63;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.56;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1360px) {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
  position: relative;
  &:hover,
  &:focus {
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      left: -11px;
      bottom: -5px;
      display: block;
      width: 146%;
      height: 3px;
      opacity: 0.75;

      border-radius: 2px;
      background-color: $accent-color;
      @media screen and (min-width: 768px) {
        bottom: 3px;
      }
      @media screen and (min-width: 1360px) {
        bottom: -5px;
      }
    }
  }
}

.nav__link {
  color: $primary-bg-color;
  line-height: 1.63;
}
