.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $primary-text-color;
}

.footer__text {
  text-align: center;
  color: $primary-bg-color;
  font-size: 16px;
  line-height: 1.63;
}
