.team {
  text-align: center;
  padding-top: 40px;
}
.team__content {
  padding-left: 56px;
  padding-right: 56px;
}
.team__pretitle {
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 20px;
}

.team__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-bottom: 20px;
}

.team__text {
  font-size: 16px;
  line-height: 1.63;
  margin-bottom: 20px;
}

.team__list {
}
.team__item {
}
.team__person {
  padding-top: 16px;
  padding-bottom: 20px;
}
.team__name {
  font-size: 23px;
  line-height: 1.26;
  margin-bottom: 12px;
}
.team__position {
  font-size: 16px;
  line-height: 1.63;
}
